# dependencies
node_modules
/.next
/.vercel

# python
__pycache__/
*.pyc
*.db

# streamlit
.streamlit/

# replit internal files
attached_assets/
replit.md
.config/
.replit
replit.nix

# misc
.DS_Store
*.log
/tmp/
